{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 col-sm-12 text-center mt-5">
            <h1 class="mb-5">{{ page.title }}</h1>
            <div>{{ page.intro|richtext }}</div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        {% for project in projects %}
        <div class="col-md-4 col-sm-12 justify-text mt-5 p-5 d-flex justify-content-center">



            <div class="card text-center shadow-lg white p-5">
                <div class="card-body">
                    <h5 class="card-title">{{ project.specific.title }}</h5>
                    <p class="card-text">{{ project.specific.intro|richtext }}</p>
                    <a href="{% pageurl project %}" class="btn custom-btn">Projet</a>
                </div>
            </div>


        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}