{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block title %}{{ page.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 col-sm-12 justify-text mt-5 shadow-lg p-5 white">
            <h1>{{ page.title }}</h1>
            <i>{{ page.date }}</i>
            {{ page.intro|richtext }}
            {{ page.body }}
            <p><a href="{{ page.get_parent.url }}" class="btn custom-btn">Retour</a></p>


        </div>
    </div>
</div>


{% endblock %}